In [2]:
import pandas as pd

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
train.head()

,Unnamed: 0,description_x,description_y,ticker_x,ticker_y,same_security
0,0,first trust dow jones internet,first trust dj internet idx,FDN,FDN,True
1,1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...,FNDF,FNDF,True
2,2,vanguard small cap index adm,vanguard small-cap index fund inst,VSMAX,VSCIX,False
3,3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...,DUK,DUK,True
4,4,visa inc class a,visa inc.,V,V,True

In [7]:
train = train[['description_x', 'description_y', 'same_security']]

In [8]:
train.columns = ['message_a', 'message_b', 'target']

In [9]:
train['target'] = train['target'].map(lambda x: 1 if x else 0)

In [10]:
train.head()

,message_a,message_b,target
0,first trust dow jones internet,first trust dj internet idx,1
1,schwab intl large company index etf,schwab strategic tr fundamental intl large co ...,1
2,vanguard small cap index adm,vanguard small-cap index fund inst,0
3,duke energy corp new com new isin #us4 sedol #...,duke energy corp new com new isin #us26441c204...,1
4,visa inc class a,visa inc.,1

In [13]:
train['target'].value_counts()

1    1613
0     529
Name: target, dtype: int64

In [16]:
train[train['target']==0].head(5)

,message_a,message_b,target
2,vanguard small cap index adm,vanguard small-cap index fund inst,0
14,vanguard total bond market index fund admiral ...,vanguard total bond market idx instl pls,0
19,vanguard total bond market index admiral,vanguard bond index total mkt investor,0
22,russell gbl real estate securities cl s,vy clarion real estate port srv,0
23,vanguard short-term investment-grade fund admi...,vanguard short-term invest-grade,0

In [18]:
from sklearn.utils import resample

In [20]:
min_ = train[train['target']==0]
max_ = train[train['target']==1]

In [23]:
df_up = resample(
    min_,
    replace=True,
    n_samples=len(max_),
)

In [26]:
train_up = pd.concat([max_, df_up])

In [28]:
df_down = resample(
    max_,
    replace=False,
    n_samples=len(min_)
)

In [ ]:
train_down = pd.concat([m])